@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  user-select: none; /* ユーザーがテキストを選択できない */
  -webkit-user-select: none; /* Safari対応 */
  -ms-user-select: none; /* Internet Explorer対応 */
}

img {
  pointer-events: none;
}